body, html {
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-color: #e9eff1;
    color: #4f4f4f;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 16px;
    background-color: #0078ff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#chat-container {
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 10px);
    margin-top: 10px;
    background-color: #f7f7f8;
}

#chat-box {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: #ffffff;
    color: #4f4f4f;
    padding: 10px;
    margin-bottom: 50px;
}

.user-message, .bot-message {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
}

.user-message {
    background-color: #0078ff;
    color: white;
    justify-content: flex-start;
}

.bot-message {
    background-color: #f0f0f0;
    color: #000000;
    justify-content: flex-end;
}

#input-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"].long-input {
    flex-grow: 3;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #d0d0d0;
    height: 38px;
    border-radius: 20px;
}

button.small-button {
    cursor: pointer;
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100px;
    height: 38px;
    border-radius: 20px;
}

.patent-gpt-title, .patent-gpt-main-title, .section-title, .year, .patent-gpt-info-title {
    color: #0078ff;
}

.patent-gpt-title {
    text-align: left;
    margin-bottom: 10px;
    font-size: 1.2rem;
    margin-top: 0;
}

.patent-gpt-main-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2rem;
}

.custom-hr {
    border: 2px solid #0078ff;
    width: 100%;
}

.year {
    font-size: 1.2rem;
    margin-left: 10px;
}

.patent-gpt-info-title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
}

.patent-bold {
    font-weight: bold;
}

.info-box-container {
    margin-top: 10px;
}

.info-box {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    margin-bottom: 10px;
    border: 1px solid #0078ff;
}

.bg-lightpink {
    background-color: #e9eff1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 10px;
}

.btn-primary, .btn-secondary {
    background-color: #0078ff;
    border-color: #0078ff;
}

.medium-button {
    width: 70%;
    color: #0078ff;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

#loading-bubble {
    position: fixed;
    bottom: 10px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: pulse 1.5s infinite;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hidden {
    display: none;
}
