body, html {
    height: 100%;
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-color: #282c34;
    color: #d01919;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 16px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#chat-container {
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 10px);
    margin-top: 10px;
}

#chat-box {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    background-color: white;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 50px;
}

.user-message, .bot-message {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    word-wrap: break-word;
}

.user-message {
    background-color: #e8f0fe; /* Light blue */
    color: #3b5998; /* Dark blue text */
    justify-content: flex-start;
    margin-left: auto;
}

.bot-message {
    background-color: #dfe3ee; /* Lighter shade of blue */
    color: #36465d; /* Darker text */
    justify-content: flex-end;
    margin-right: auto;
}


#input-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="text"].long-input {
    flex-grow: 3;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid #d01919;
    height: 38px;
    border-radius: 4px;

}

button.small-button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    width: 100px;
    height: 38px;
    border-radius: 4px;
}

.patent-gpt-title {
    text-align: left;
    margin-bottom: 10px;
    color: #d01919;
    font-size: 1.2rem;
    margin-top: 0;
}

.patent-gpt-main-title {
    text-align: center;
    margin-bottom: 10px;
    color: #d01919;
    font-size: 2rem;
}

.custom-hr {
    border: 2px solid #d01919;
    width: 100%;
}

.year {
    color: #d01919;
    font-size: 1.2rem;
    margin-left: 10px;
}

.patent-gpt-info-title {
    text-align: center;
    color: #d01919;
    font-size: 1.5rem;
    margin-top: 10px;
}

.patent-bold {
    font-weight: bold;
}

.info-box-container {
    margin-top: 10px;
}

.info-box {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: #333;
    margin-bottom: 10px;
    border: 1px solid #d01919;
}

.section-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center;
    color: #d01919;
}

.bg-lightpink {
    background-color: #a0aabb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 10px;
}

.btn-primary {
    background-color: #d01919;
    border-color: #d01919;
    width: 50%;
}

.btn-secondary {
    background-color: #d01919;
    border-color: #d01919;
}

.medium-button {
    width: 70%;
    color: rgba(25, 0, 255, 0.84);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.pulsing {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}



